<%- include('../template/head')-%>

    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Create Date</th>
                <th>Update Date</th>
                <th>Actions</th>
            </tr>
            <% for(let i=0; i < data.length; i++) { %>
                <tr data-row-key="<%= data[i].category_id %>">
                    <td>
                        <%= data[i].category_name %>
                    </td>
                    <td>
                        <%= data[i].create_at %>
                    </td>
                    <td>
                        <%= data[i].update_at %>
                    </td>
                    <!-- <td><a href="/api/category/<%= data[i].category_id%> ">Details</a></td> -->
                    <td>
                        <button onclick="category.onView(this.parentElement.parentElement)">Detail</button>
                        <!-- <button onclick="onEdit(this.parentElement.parentElement)">Edit</button>
                        <button onclick="onDelete(this.parentElement.parentElement)">Delete</button> -->

                    </td>
                </tr>
                <% } %>
        </table>

        <!-- <script>
            console.log('render')
            let onView = (target) => {
                console.log(target)
                let id = target.getAttribute("data-row-key")

            }
            let onEdit = (target) => {

            }

            let onDelete = (target) => {
                let id = target.getAttribute("data-row-key")

            }
        </script> -->
    </body>
    <%- include('../template/footer')-%>